// --------------------------------------------
// Colors Switch adaptées pour MDPH
// --------------------------------------------
$color: (
	typography: (
		1: #2A293E,
		2: #6B7A90,
		1i: #FFFFFF,
		2i: #8595AE
	),
	bg: (
		1: #f8f4e5,
		2: #F8F9FB,
		3: #E9EDF3,
		1i: #182538,
		2i: #223146,
		3i: #304057
	),
	primary: (
		1: #9fd0d3,
		2: #9fd0d3,
		3: #212880
 	),
	secondary: (
		1: #2596be,
		2: #2596be,
		3: #2FEAFC
	),
	tertiary: (
		1: #ebc6b9,
		2: #ebc6b9,
		3: #FE7E1F
	)
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
	base: '"Heebo", sans-serif',
	heading: '"IBM Plex Sans", sans-serif',
	code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
	pre: '"Courier 10 Pitch", Courier, monospace'
);

$font__sizes: (
	alpha:   ( 44px, 54px, 0px ),
	beta:    ( 38px, 48px, -0.1px ),
	gamma:   ( 32px, 42px, -0.1px ),
	delta:   ( 24px, 34px, -0.1px ),
	epsilon: ( 20px, 30px, -0.1px ),
	zeta:    ( 18px, 27px, -0.1px ),
	eta:     ( 16px, 24px, -0.1px ),
	theta:   ( 14px, 20px, 0px )
);

$font__scale: (
	desktop: (
		1: map-get($font__sizes, alpha),
		2: map-get($font__sizes, beta),
		3: map-get($font__sizes, delta),
		4: map-get($font__sizes, epsilon),
		5: map-get($font__sizes, epsilon),
		6: map-get($font__sizes, zeta),
		7: map-get($font__sizes, eta),
		8: map-get($font__sizes, theta)
	),
	mobile: (
		1: map-get($font__sizes, beta),
		2: map-get($font__sizes, gamma),
		3: map-get($font__sizes, delta),
		4: map-get($font__sizes, epsilon),
		5: map-get($font__sizes, epsilon),
		6: map-get($font__sizes, zeta),
		7: map-get($font__sizes, eta),
		8: map-get($font__sizes, theta)
	)
);

$font__weight: (
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
	mobile: 16px,
	desktop:  24px
);
$container__width: 1080px;
$container__width-sm: 800px;
